[mysqld_multi]
no-log

[client]
loose-default-character-set= utf8mb4
user= root

[mysqld]
core-file
gdb
loose-federated= 1
tmpdir= /data/tmp
loose_performance_schema= 1

log-error= error.log
log-bin= bin
binlog-format= mixed
max-binlog-size= 256M
#loose-log-slave-updates
relay-log= relay
max-relay-log-size= 256M
loose-relay-log-recovery= 1
#skip-slave-start
general-log
loose-general-log-file= general.log
loose-slow-query-log
loose-slow-query-log-file= slow.log
long-query-time= 1
loose-log-output= FILE
skip-name-resolve

#old-passwords= 1
secure-auth= 1

query-cache-type= 2
query-cache-size= 32M

loose-character-set-server= utf8mb4
skip-character-set-client-handshake
#secure-file-priv=/data/tmp

loose-innodb-buffer-pool-size= 128M
loose-innodb-log-file-size= 256M
loose-innodb-file-per-table= 1
loose-innodb-file-format= barracuda
#loose-innodb-autoinc-lock-mode= 2
innodb-lock-wait-timeout= 1

loose-mroonga_lock_timeout= 1
ft_min_word_len=1

[mysqld-5.1]
ignore-builtin-innodb
plugin-load = innodb=ha_innodb_plugin.so;innodb_trx=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so;innodb_lock_waits=ha_innodb_plugin.so;innodb_cmp=ha_innodb_plugin.so;innodb_cmp_reset=ha_innodb_plugin.so;innodb_cmpmem=ha_innodb_plugin.so;innodb_cmpmem_reset=ha_innodb_plugin.so;innodb_buffer_page=ha_innodb_plugin.so;innodb_buffer_page_lru=ha_innodb_plugin.so;innodb_buffer_pool_stats=ha_innodb_plugin.so;

[mysqld-5.5]

[mysqld-5.6]
master-info-repository= table
relay-log-info-repository= table
loose-daemon_memcached_enable_binlog= 1
binlog-checksum= none
loose-innodb-print-all-deadlocks
loose-innodb-buffer-pool-dump-at-shutdown= 1
loose-innodb-buffer-pool-load-at-startup= 1
loose-innodb-sort-buffer-size= 64M
loose-explicit-defaults-for-timestamp


[mysqld-5.7]
log_syslog
gtid-mode = ON
enforce-gtid-consistency= ON

[client]
user = root

[mysql]
no-auto-rehash

[mysqldump]
loose-single-transaction
loose-triggers
loose-routines
loose-events


[mysqld51]
server-id  = 1051
basedir    = /usr/mysql/5.1.73
mysqld     = /usr/mysql/5.1.73/bin/mysqld_safe
socket     = /usr/mysql/5.1.73/data/mysql.sock
port       = 64051
pid-file   = /usr/mysql/5.1.73/data/mysql.pid
datadir    = /usr/mysql/5.1.73/data
character-set-server= utf8

[mysqld55]
server-id  = 1055
basedir    = /usr/mysql/5.5.47
mysqld     = /usr/mysql/5.5.47/bin/mysqld_safe
socket     = /usr/mysql/5.5.47/data/mysql.sock
port       = 64055
pid-file   = /usr/mysql/5.5.47/data/mysql.pid
datadir    = /usr/mysql/5.5.47/data

[mysqld56]
server-id  = 1056
basedir    = /usr/mysql/5.6.28
mysqld     = /usr/mysql/5.6.28/bin/mysqld_safe
socket     = /usr/mysql/5.6.28/data/mysql.sock
port       = 64056
pid-file   = /usr/mysql/5.6.28/data/mysql.pid
datadir    = /usr/mysql/5.6.28/data

[mysqld57]
server-id  = 1057
basedir    = /usr/mysql/5.7.10
mysqld     = /usr/mysql/5.7.10/bin/mysqld_safe
socket     = /usr/mysql/5.7.10/data/mysql.sock
port       = 64057
pid-file   = /usr/mysql/5.7.10/data/mysql.pid
datadir    = /usr/mysql/5.7.10/data
