[client]
#user=root 

[mysql]
user=root

[mysqld_multi]
user= root
no-log

[mysqld_safe]
#syslog

[mysqld]
#myisam-use-mmap
#innodb_log_group_home_dir= /dev/shm
core-file
skip-name-resolve
skip-skip-networking
#replicate-ignore-db=mysql
#loose_validate_password= OFF
loose-log-timestamps= system
loose-event-scheduler= ON
#sysdate_is_now
#sql_mode = 'STRICT_TRANS_TABLES'
tmpdir= /usr/mysql/tmp

lower_case_table_names= 1
server-id= 1
loose-log-error-verbosity= 3
#innodb_read_only

log-error = error.log
log-bin = bin
#skip-log-bin = true
#skip-ssl
relay-log = relay
#loose-binlog-format = mixed
#skip-slave-start
loose-binlog_transaction_compression = ON
max_binlog_size= 256M
loose-general-log
loose-general-log-file = general.log
loose-slow-query-log
loose-slow-query-log-file = slow.log
long-query-time = 0
log_slow_admin_statements = ON
loose-log-slow-extra
loose-log-output = FILE
innodb_flush_log_at_trx_commit = 0
sync_binlog = 0
table_open_cache = 24000

#loose-query-cache-type = ON
#loose-query-cache-size = 32M

#skip-character-set-client-handshake
secure-file-priv=""

#loose-innodb-buffer-pool-size = 1G
innodb-buffer-pool-size = 64M
#loose-innodb-buffer-pool-instances = 8
#loose-innodb-log-file-size = 32M
#loose-innodb-log-buffer-size= 256K
#loose-innodb-file-per-table = 0
loose-innodb-file-format = barracuda
#loose-innodb-file-format = 1
#loose-innodb-fast-shutdown = 2
#innodb_force_recovery= 6
#loose-innodb-undo-logs= 128
#loose-innodb-undo-tablespaces= 2
#loose-innodb-read-io-threads= 16
#loose-innodb-write-io-threads= 16
innodb-flush-method= O_DIRECT

#loose-innodb-autoinc-lock-mode = 0
innodb-lock-wait-timeout= 1

loose-gtid-mode = ON
loose-log-slave-updates
loose-enforce-gtid-consistency
#loose-sync-master-info= 1
loose-relay-log-recovery= 1
loose-binlog_rows_query_log_events
loose-binlog_row_image = MINIMAL
loose-expire-logs-days= 14
loose-binlog-expire-logs-seconds= 705600 ### 14 days

loose-mroonga_lock_timeout= 5
#ft_min_word_len=1
#skip-grant-tables

#loose-handlersocket_port= 9998
#loose-handlersocket_port_wr= 9999
#loose-handlersocket_threads= 16

loose-innodb_numa_interleave
loose-innodb_api_enable_binlog= 1
loose-innodb-monitor-enable=all
loose-federated
#loose-innodb-ft-min-token-size= 1
#loose-innodb_ft_cache_size= 2M

loose-innodb-print-all-deadlocks
loose-innodb-buffer-pool-dump-at-shutdown= 0
loose-innodb-buffer-pool-load-at-startup= 0
loose-innodb_buffer_pool_dump_pct= 100
loose-explicit-defaults-for-timestamp
loose-daemon_memcached_enable_binlog= 1

loose-mecab-rc-file= /etc/mecabrc


[mysqld-5.0]
innodb

[mysqld-5.1]
ignore-builtin-innodb
plugin-load = innodb=ha_innodb_plugin.so;innodb_trx=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so;innodb_lock_waits=ha_innodb_plugin.so;innodb_cmp=ha_innodb_plugin.so;innodb_cmp_reset=ha_innodb_plugin.so;innodb_cmpmem=ha_innodb_plugin.so;innodb_cmpmem_reset=ha_innodb_plugin.so;innodb_buffer_page=ha_innodb_plugin.so;innodb_buffer_page_lru=ha_innodb_plugin.so;innodb_buffer_pool_stats=ha_innodb_plugin.so;
loose-character-set-server = utf8

[mysqld-5.5]
loose-character-set-server = utf8mb4

[mysqld-5.6]
#loose-character-set-server = ujis
character-set-server = utf8mb4
disable-ssl

[mysqld-5.7]
#loose-innodb-status-file= 1
character-set-server = utf8mb4

[mysqld-8.0]
persisted_globals_load= 1
plugin-load=clone=mysql_clone.so
character-set-server = utf8mb4

[client]
#user = root
#loose-default-character-set= utf8mb4
#default-character-set= cp932

[mysql]
no-auto-rehash
loose-binary-as-hex=0

[mysqldump]
#loose-single-transaction
#loose-triggers
#loose-routines
#loose-events

[mysqld50]
server-id  = 1050
basedir    = /usr/mysql/5.0.96
mysqld     = /usr/mysql/5.0.96/libexec/mysqld
socket     = /usr/mysql/5.0.96/var/mysql.sock
port       = 64050
pid-file   = /usr/mysql/5.0.96/var/mysql.pid
datadir    = /usr/mysql/5.0.96/var

[mysqld51]
server-id  = 1051
basedir    = /usr/mysql/5.1.73
mysqld     = /usr/mysql/5.1.73/bin/mysqld_safe
socket     = /usr/mysql/5.1.73/data/mysql.sock
port       = 64051
pid-file   = /usr/mysql/5.1.73/data/mysql.pid
datadir    = /usr/mysql/5.1.73/var
character-set-server= utf8

[mysqld55]
server-id  = 1055
basedir    = /usr/mysql/5.5.62
mysqld     = /usr/mysql/5.5.62/bin/mysqld_safe
socket     = /usr/mysql/5.5.62/data/mysql.sock
port       = 64055
pid-file   = /usr/mysql/5.5.62/data/mysql.pid
datadir    = /usr/mysql/5.5.62/data

[mysqld56]
server-id  = 1056
basedir    = /usr/mysql/5.6.51
mysqld     = /usr/mysql/5.6.51/bin/mysqld_safe
socket     = /usr/mysql/5.6.51/data/mysql.sock
port       = 64056
pid-file   = /usr/mysql/5.6.51/data/mysql.pid
datadir    = /usr/mysql/5.6.51/data
innodb_force_recovery= 0

[mysqld57]
server-id  = 1057
basedir    = /usr/mysql/5.7.44
mysqld     = /usr/mysql/5.7.44/bin/mysqld_safe
socket     = /usr/mysql/5.7.44/data/mysql.sock
port       = 64057
pid-file   = /usr/mysql/5.7.44/data/mysql.pid
datadir    = /usr/mysql/5.7.44/data
#early_plugin_load=rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so
#rpl_semi_sync_master_enabled= 1
#rpl_semi_sync_slave_enabled= 1
#debug=d:F:i:L:n:N:t:O,/tmp/mysqld.trace
net_read_timeout= 1

[mysqld80]
server-id  = 1080
basedir    = /usr/mysql/8.0.43
mysqld     = /usr/mysql/8.0.43/bin/mysqld_safe
socket     = /usr/mysql/8.0.43/data/mysql.sock
port       = 64080
pid-file   = /usr/mysql/8.0.43/data/mysql.pid
datadir    = /usr/mysql/8.0.43/data
#collation_server = utf8mb4_ja_0900_as_cs
default_authentication_plugin=mysql_native_password
mysqlx= off
#mysqlx-port= 64081
early-plugin-load=keyring_file.so
loose-keyring_file_data=/usr/mysql/8.0.43/keyring
admin_address= 127.0.0.1
admin_port= 63080
create_admin_listener_thread= ON
#default_collation_for_utf8mb4 = utf8mb4_general_ci
#persisted-globals-load = OFF
#default-time_zone='+00:00'
#innodb_temp_tablespaces_dir=/mytmp/innodb_temp
#innodb_tmpdir=/mytmp
#loose-group_replication_local_address = '150-95-141-50:64081'
loose-innodb_print_ddl_logs
#character_set_server=utf8mb3
#collation_server=utf8mb3_bin
#innodb_validate_tablespace_paths= OFF
innodb_directories="/usr/mysql/8.0.43/data;/usr/mysql/innodb"

[mysqld84]
server-id  = 1084
basedir    = /usr/mysql/8.4.6
mysqld     = /usr/mysql/8.4.6/bin/mysqld_safe
socket     = /usr/mysql/8.4.6/data/mysql.sock
port       = 64084
pid-file   = /usr/mysql/8.4.6/data/mysql.pid
datadir    = /usr/mysql/8.4.6/data
mysqlx= off
#mysql_native_password = ON
admin_address= 127.0.0.1
admin_port= 63084
#mysql_native_password
#authentication_policy= mysql_native_password

[mysqld94]
server-id  = 1094
basedir    = /usr/mysql/9.4.0
mysqld     = /usr/mysql/9.4.0/bin/mysqld_safe
socket     = /usr/mysql/9.4.0/data/mysql.sock
port       = 64094
pid-file   = /usr/mysql/9.4.0/data/mysql.pid
datadir    = /usr/mysql/9.4.0/data
mysqlx= off
admin_address= 127.0.0.1
admin_port= 63094
